.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--cor-fundo);
  border-bottom: 1px solid var(--cor-borda);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}