.gridProdutos {
  display: grid;
  gap: 16px;
  padding: 100px 16px 16px;
}

@media (max-width: 480px) {
  .gridProdutos {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .gridProdutos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .gridProdutos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1025px) {
  .gridProdutos {
    grid-template-columns: repeat(4, 1fr);
  }
}
@keyframes shimmer {
  0% { background-position: -200px 0; }
  100% { background-position: 200px 0; }
}